@import '../components/App/App';
@import '../components/WordComponent/WordComponent';
@import '../components/ControllerComponent/ControllerComponent';
@import '../components/SelectedLettersComponent/SelectedLettersComponent';
@import '../components/WinScreenComponent/WinScreenComponent';
@import '../components/RestoreModalComponent/RestoreModalComponent';

html {
  color: white;
  background-color: #2b344b;
  font-family: "VAG World Bold", sans-serif;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}
