.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-transform: uppercase;
  user-select: none;
  margin: 3px;
  border-radius: 25%;
  aspect-ratio: 1;
  line-height: 100%;
}

html {
  color: white;
  background-color: #2b344b;
  padding: 1vw;
  font-family: "VAG World Bold", sans-serif;
  font-size: 14px;
}

.app-wrapper {
  max-width: 640px;
  margin: auto;
}

app-component {
  &::part(cell) {
    @extend .cell;

    max-width: 72px;
  }

  &::part(cell-wrapper) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  &::part(title) {
    text-align: center;
    font-size: 30px;
  }

  &::part(controller-selected-letters) {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }

  &::part(controller-selected-letter) {
    @extend .cell;

    max-width: 42px;
    color: #4D4D4D;
    background-color: white;
  }
}
