@use '../../styles/common';

app-component {
  &::part(controller-letters) {
    position: relative;
    border-radius: 50%;
    margin: auto;
    aspect-ratio: 1;
    box-shadow: 0 0 0 0.85rem #3E4A68, inset 0 0 0 0.85rem #3E4A68;
    width: 100%;
    max-width: 270px;
  }

  &::part(controller-letter) {
    @extend .centred;

    transition: left 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.1s, color 0.1s;
    position: absolute;
    cursor: pointer;
    font-size: 4rem;
    width: 90px;
    border-radius: 50%;
    color: #4D4D4D;
    background-color: #FFF;
    box-shadow: 0 5px 0 0 #9FA1A5;
    transform: translate(-50%, -50%);
  }

  &::part(controller-letter selected) {
    color: #FFF;
    background-color: #E870A5;
    box-shadow: 0 5px 0 0 #B0638D;
  }
}